body{
    color: rgb(48, 48, 48);
}

.navbar{
    padding: 1rem;
    background-color: blue;
}

.btn-primary:hover{
    background-color: blue;
    color: white;
}

.hero-background-img{
    background-image: url(megan-dujardin-PxEito_SyZg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

